*.png
*.txt
*.csv
*.gz
*.pyc
*.pth
*.json
*.xlsx
*.pdf
*.tsv
*.pkl
*.exe
*.safetensors
*.zip
*.parquet
*.jsonl
*.pt
*.bin
*.jpg
*.sqlite3
Training/ipynb/chroma.sqlite3
Testing/2785d534-004e-48cf-9e57-e1ae2fec0f01/index_metadata.pickle
Training/ipynb/chroma.sqlite3
Training/ipynb/.ipynb_checkpoints/Internet_Fetching-checkpoint.ipynb
Training/ipynb/512053fe-7f71-45d1-aefc-20b16d14afef/data_level0.bin
Training/ipynb/512053fe-7f71-45d1-aefc-20b16d14afef/header.bin
Training/ipynb/512053fe-7f71-45d1-aefc-20b16d14afef/index_metadata.pickle
Training/ipynb/512053fe-7f71-45d1-aefc-20b16d14afef/length.bin
Training/ipynb/512053fe-7f71-45d1-aefc-20b16d14afef/link_lists.bin
Training/ipynb/c2a27677-020b-42c7-a665-946c2cd1f233/index_metadata.pickle
Training/ipynb/chroma.sqlite3
Training/ipynb/.ipynb_checkpoints/Internet_Fetching-checkpoint.ipynb
Training/ipynb/512053fe-7f71-45d1-aefc-20b16d14afef/data_level0.bin
Training/ipynb/512053fe-7f71-45d1-aefc-20b16d14afef/header.bin
Training/ipynb/512053fe-7f71-45d1-aefc-20b16d14afef/length.bin
Training/ipynb/512053fe-7f71-45d1-aefc-20b16d14afef/link_lists.bin
Training/ipynb/.ipynb_checkpoints/Internet_Fetching-checkpoint.ipynb
Training/ipynb/512053fe-7f71-45d1-aefc-20b16d14afef/data_level0.bin
Training/ipynb/512053fe-7f71-45d1-aefc-20b16d14afef/header.bin
Training/ipynb/512053fe-7f71-45d1-aefc-20b16d14afef/length.bin
Training/ipynb/512053fe-7f71-45d1-aefc-20b16d14afef/link_lists.bin

!Installation_Guide.txt
!BART_arch.png
!requirements.txt
